
training-data/A_0/wp2773855f_05_06.jpg
training-data/A_0/vector-capital-letter-a.jpg
training-data/A_0/stock-photo-shiny-plastic-pink-uppercase-or-capital-letter-a-in-a-d-illustration-with-a-silky-shine-and-bright-795428002.jpg
training-data/A_0/red-wooden-alphabet-capital-letter-isolated-white-background-142266231.jpg
training-data/A_0/original-4838761-1.jpg
training-data/A_0/LI-Uppercase-Block-Letter-A.png
training-data/A_0/Letter_A_Activities_Capital_Letter_A_Uppercase_Cut_And_Paste_A_For_Apple_Printable.png
training-data/A_0/letter-black-flower-alphabet-beautiful-capital-letters-shadow-185961956.jpg
training-data/A_0/img_517791.png
training-data/A_0/images8.jpg
training-data/A_0/images6.jpg
training-data/A_0/images58.jpg
training-data/A_0/images57.jpg
training-data/A_0/images54.jpg
training-data/A_0/images53.jpg
training-data/A_0/images50.jpg
training-data/A_0/images47.jpg
training-data/A_0/images46.jpg
training-data/A_0/images45.jpg
training-data/A_0/images44.jpg
training-data/A_0/images42.jpg
training-data/A_0/images34.jpg
training-data/A_0/images32.jpg
training-data/A_0/images29.jpg
training-data/A_0/images28.jpg
training-data/A_0/images27.jpg
training-data/A_0/images26.jpg
training-data/A_0/images19.jpg
training-data/A_0/images18.jpg
training-data/A_0/images17.jpg
training-data/A_0/images12.jpg
training-data/A_0/images11.jpg
training-data/A_0/image9.jpeg
training-data/A_0/image8.jpeg
training-data/A_0/image7.png
training-data/A_0/image7.jpeg
training-data/A_0/image6.png
training-data/A_0/image4.png
training-data/A_0/image3.png
training-data/A_0/image3.jpeg
training-data/A_0/image15.png
training-data/A_0/image14.png
training-data/A_0/image13.png
training-data/A_0/image11.png
training-data/A_0/image11.jpeg
training-data/A_0/image10.jpeg
training-data/A_0/image0.png
training-data/A_0/image.png
training-data/A_0/image.jpeg
training-data/A_0/hqdefault.jpg
training-data/A_0/floral-capital-letter-alphabet-vector_53876-86256.jpg
training-data/A_0/elegant-capital-letter-a-in-style-baroque-vector-7425400.jpg
training-data/A_0/Depositphotos_8292799_xs.jpg
training-data/A_0/depositphotos_6058356-stock-illustration-capital-letter-a-gold.jpg
training-data/A_0/depositphotos_54959491-stock-photo-golden-3d-symbol-capital-letter.jpg
training-data/A_0/Depositphotos_12069311_xs-292x300.jpg
training-data/A_0/db3cf390cbfa0cdbbb14e6466b22d5a0.jpg
training-data/A_0/d-decorative-alphabet-cardboard-box-capital-letter-132956149.jpg
training-data/A_0/colorful-yellow-and-red-capital-letter-a-cartoon-vector-27665869.jpg
training-data/A_0/circled_latin_capital_letter_a_u24B6_icon_256x256.png
training-data/A_0/cartoon-illustration-of-capital-letter-a-modern-alphabet-design-P9AMFE.jpg
training-data/A_0/CapitalLetterGraphemeCardsJPG.jpg
training-data/A_0/capital_letter_a_clip_art_24635.jpg
training-data/A_0/Capital-letter-clipart-clipartfox-3.png
training-data/A_0/capital-letter-a-red-115527299476vzkg8vjsj.png
training-data/A_0/bfa745d7b2af0faf5b9373bb89d21f81.jpg
training-data/A_0/alpha-greek-symbol-capital-letter-uppercase-font-vector-30811736.jpg
training-data/A_0/a791d7c313afd748db2258724fec99b9.jpg
training-data/A_0/A-D-1_800x.jpg
training-data/A_0/a-clipart-1.png
training-data/A_0/a-capital-letter-fold-english-alphabet-new-design-vector-13240104.jpg
training-data/A_0/A (7).jpeg
training-data/A_0/A (3).gif
training-data/A_0/A (15).jpg
training-data/A_0/A (14).png
training-data/A_0/A (1).png
training-data/A_0/A (1).jpg
training-data/A_0/A (1).jpeg
training-data/A_0/A (1).gif
training-data/A_0/84a83dc4c9f8a7af096f15333586794f.jpg
training-data/A_0/84-512.png
training-data/A_0/76a5838b-3ff9-4502-82e2-721113e98fe0_1.de0f227d61cfe66d06b3d3949eeafb87.jpeg
training-data/A_0/75a507e36d9a2b08f276342ad86ac402.gif
training-data/A_0/6076394637_eb6ebf38b0_b.jpg
training-data/A_0/5a01c71acad612fd15711841.png
training-data/A_0/5a01bd027ca233f48ba627da.png
training-data/A_0/55602229-capital-letter-a-from-the-white-interwoven-strips-on-a-black-background-template-for-emblem-logos-an.jpg
training-data/A_0/42zz7a9.gif
training-data/A_0/41ad106bc31058b6278b5adaf2a55b4d.jpg
training-data/A_0/413-4134397_capital-letter-a-letter.png
training-data/A_0/4-44653_red-letter-a-clip-art-image-large-red-capital-letter-letter-a.png
training-data/A_0/1200px-C385.svg.png
training-data/A_0/119166968-gold-glitter-letter-a-shiny-sparkling-golden-capital-letter-3d-rendering.jpg
training-data/A_0/1-512.png
training-data/A_0/0041-500x5000.png
training-data/A_0/0041-500x500.png
